<br><br><hr><hr>
<footer>
    <div class="social">
      <ul>
        <li><a href="https://twitter.com/A_tollysmith" target="_blank"><img src="/static/images/social/twitter.png" alt="twitter" ></a></li>
        <li><a href="#"><img src="/static/images/social/dribble.png" alt="dribble"></a></li>
        <li><a href="#"><img src="/static/images/social/facebook.png" alt="facebook"></a></li>
        <li><a href="#"><img src="/static/images/social/skype.png" alt="skype"></a></li>
        <li><a href="#"><img src="/static/images/social/pinterest.png" alt="pinterest"></a></li>
        <li><a href="#"><img src="/static/images/social/flickr.png" alt="flickr"></a></li>
      </ul>
    </div>
    <p><small><a href="{% url 'home' %}"><strong><em>sNAP</em></strong>SH0T</a></small> <br> &copy;2020</p>
  </footer>