{% extends 'base.html' %}

{% block title %}
my-profile
{% endblock title %}

{% block content %} <br> <br>
<h5>my profile</h5>
<hr> <img src="{{profile.avatar.url}} " alt="">
    <br>
    {{profile.first_name}} <br>
    {{profile.last_name}} <br> <hr>
    {{profile.bio}} <br> <hr>
    {{profile.slug}}
    <form action="" method="POST">
    {%csrf_token%}
    {{form}}
    <button type="submit" class="ui positive">Update Profile</button>
    </form>
{% endblock content %}

{% block scripts %}

<script>
$(document).ready(function(){
    console.log('working')
})
</script>
{% endblock scripts %}