{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top:4%">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <hr>
            {%  for profile in profiles%}
            {{invite}}
            <div class="row">
                <div class="col-md-3">
                    <a href="{% url 'profiles:myprofile'%}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                        <img src="{{profile.avatar.url}}" class="ui avatar image">&nbsp;
                        {{ request.user }}
                      </a>
                    <span><strong><a href="">{{profile}}</a></strong></span><br>
                    <span><strong><a href="">{{profile.bio}}</a></strong></span><br>

                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

{% endblock %}