{% extends 'base.html' %}

{% block title %}main page{% endblock title %}

{% block content %}

<div class="ui grid">
    <div class="row">
        <div class="eleven wide column">
            POSTS
            {%for item in qs %}
            <div class="ui fluid card">
                <div class="content">
                    {{item.content}}
                </div>
                <div class="content">
                    <form action="{% url 'pics:like-post-view' %}" method="POST">
                        {%csrf_token%}
                        <input type="hidden"name="post_id" value="{{item.id}}">
                        <button type="submit" class="ui primary button">
                            {% if profile not in item.liked.all %}
                                <i class="thumbs up icon"></i>&nbsp;Like
                            {%else%}
                            <i class="thumbs down icon"></i>&nbsp;Unlike
                            {% endif %}
                        </button>
                        &nbsp;{{item.num_likes}}
                    </form>
                </div>
            </div>

            {%endfor%}
        </div>
        <div class="five wide column">
            Form
            
        </div>

    </div>
</div>

{% endblock content %}

{% block scripts %} 
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
        });
    </script>
{% endblock scripts %}