<div class="ui menu nav mb-7">
  <div class="ui container">
    <a href="" class="item">
      <h3>Picstagram</h3>
    </a>
    <div class="right menu">
      {% if request.user.is_authenticated %}
      <div class="item">
        <form action="" method="GET">
          <div class="ui action left icon input">
            <input class="prompt" type="text" name='q' placeholder="search friend by name...">
            <i class="search icon"></i>
            <button type='submit' class="ui button">Search</button>
          </div>
        </form>
      </div>
      <div class="item">
        <div class="ui floating dropdown icon button "> Notifications
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="" class="item">
              All Profiles
            </a>
            <a href="" class="item">
              Send Invites
            </a>
            <a href="" class="item">
              Received Invites
            </a>
          </div>
        </div>
      </div>

      <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
        <img src={{.url}} class="ui avatar image">&nbsp;
         {{ request.user }}
    </a>

      <a href="" class="ui item">
        Logout
      </a>
      {% else %}
      <a href="" class="ui item">
        Login
      </a>
      {% endif %}
    </div>
  </div>
</div>