<div class="ui menu nav mb-7">
  <div class="ui container">
    <a href="{% url 'pics:main-post-view'%}" class="item">
      <h3>Picstagram</h3>
    </a>
    <div class="right menu">
      {% if request.user.is_authenticated %}
      <div class="item">
        <form class="navbar-form" role="search" action="{% url 'profiles:search'%}">
          <div class="ui action left icon input">
            <input class="form-control" type="text"  placeholder="search friend by name..."  name="search_user">
            <i class="search icon"></i>
            <button type='submit' class="ui button" role="search" action="">Search</button>
          </div>
        </form> 

      </div>
      <div class="item">
        <div class="ui floating dropdown icon button "> Notifications
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="" class="item">
              All Profiles
            </a>
            <a href="" class="item">
              Send Invites
            </a>
            <a href="" class="item">
              Received Invites
            </a>
          </div>
        </div>
      </div>

      <a href="{% url 'profiles:myprofile'%}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
        <img src="{{user.profile.avatar.url}}" class="ui avatar image">&nbsp;
        {{ request.user }}
      </a>

      <a href="{% url 'logout' %}" class="ui item">
        Logout
      </a>
      {% else %}
      <a href="" class="ui item">
        Login
      </a>
      {% endif %}
    </div>
  </div>
</div>